* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --background: white;
      --description: #4D4F62;
      --sky: #44D3D2;
      --red: #EA5454;
      --blue: #549EF2;
      --yellow: #FCAE4A;
    }

    body {
      font-family: 'Open Sans', sans-serif;
      background-color: var(--background);
      padding: 85px 32px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .description {
      font-weight: 300;
      font-size: 24px;
      color: var(--description);
    }

    .title {
      font-weight: 600;
      font-size: 24px;
      color: var(--description);
      margin-top: 8px;
    }

    .about {
      font-size: 15px;
      color: var(--description);
      opacity: 0.5;
      margin-top: 16px;
      max-width: 600px;
    }

    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 60px;
    }

    .middle-cards {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .card {
      background-color: var(--background);
      border-radius: 8px;
      box-shadow: 0px 15px 30px rgba(131, 166, 210, 0.5);
      width: 300px;
      padding-bottom: 28px;
      text-align: left;
    }
    .icon{
      display: flex;
      margin-left: auto;
    }
    .border {
      height: 4px;
      width: 100%;
    }

    .sky .border {
      background-color: var(--sky);
    }

    .red .border {
      background-color: var(--red);
    }

    .yellow .border {
      background-color: var(--yellow);
    }

    .blue .border {
      background-color: var(--blue);
    }

    .content {
      padding: 28px;
    }

    .card-title {
      font-size: 20px;
      font-weight: 600;
      color: var(--description);
    }

    .card-description {
      font-size: 13px;
      opacity: 0.5;
      margin-top: 10px;
    }

    .icon {
      margin-top: 33px;
      width: 57px;
      height: 57px;
    }

    @media (min-width: 1440px) {
      .description,
      .title {
        font-size: 36px;
      }

      .card {
        width: 350px;
        height: 200px;
      }
    }
